.announcement {
	margin: 0;
	padding: 10px;
	
	background: black;
	color: white;
	font-family: "Aboreto";
	font-weight: 300;
	font-size: 1.1rem;
	text-align: center;
}

.announcement br {
	margin-bottom: 10px;
}

.announcement a {
	display: inline;
	color: white;
	font-family: inherit;
	text-decoration: underline;
}

.announcement a:hover {
	color: white;
	opacity: 0.8;
}

.top-box h3 {
	text-align: center;
	margin-left: 0;
}

#wrapper {
	box-shadow: 0 0 6px #0000001A;
}


.magazine-image {
	position: relative;
}

.magazine-image .a-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

.magazine-image a {
	display: block;
	aspect-ratio: 1;

	height: 100%;
}

.magazine-image img:has(+ .a-container a:hover) {
	filter: brightness(90%);
}


#filterList {
	padding: 0;
	padding-top: 20px;
}

#filterList button {
	flex-grow: 1;
	aspect-ratio: 1.9; /* w/ 5 categories: 1.6 */
	margin-bottom: 0;

	border: none;
	border-radius: 0;
}

#filterList button > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	overflow: hidden;

	font-size: 1.2rem !important; /* w/ 5 categories: 1.15 */
	color: #000000;
	height: 100%;
	background: none;
	user-select: none;
}

#filterList button.active > a {
	color: #ffffff;
}

#filterList button:not(.active):hover {
	filter: brightness(90%);
}

#filterList button:not(.active):active {
	filter: brightness(85%);
}

#filterList button:not(.active) i {
	opacity: 0.9;
}

#filterList button:not(.active) span {
	font-family: "Aboreto", cursive;
	font-weight: 600;
	opacity: 0.9;
	font-size: 65%; /* 60% */
}

#filterList button.active {
	cursor: default;
}


.categories-divider {
	width: 2px;
	background-color: #000000;
	opacity: 0.1;
}

.categories-divider.active {
	opacity: 1;
}


#filters-text {
	font-weight: lighter;
	font-size: 90%;
}

#dynamic-filters button:not(.active):active {
	background-color: #cccccc;
}

#dynamic-filters button.active:active {
	background-color: #777777;
}

@media (min-width: 500px) {
	#dynamic-filters button:not(.active):hover {
		background-color: #dddddd;
	}

	#dynamic-filters button.active:hover {
		background-color: #444444;
	}
}


#no-articles {
	display: block;
	font-weight: normal;
	text-align: center;
	margin: 20px 0;
	font-size: 80%;
}

.article-listing.hidden {
	display: none;
}

/* Funky syntax - I hope it works on all devices */
:nth-child(odd of #dynamic-filters, .article-listing:not(.hidden)) {
	background-color: #ffffff;
}

:nth-child(even of #dynamic-filters, .article-listing:not(.hidden)) {
	background-color: #f2f2f2;
}

.article-listing:hover h5:not(.grey-box) {
	text-decoration: underline;
}

.article-image {
	border-radius: 10px;
}


.article-listing, .article-body {
	padding: 0 !important;
}

.article-anchor {
	padding: 10pt;
}

.article-container {
	gap: 10px;
}

.article-container > div:first-child {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.article-container > div:first-child > * {
	position: static;
	margin: 0;
}

.article-author {
	margin-top: 0;
}

.article-tags, .folk-article-tags {
	margin-top: 10px !important;
}

.article-container img {
	margin: 0;
}

.article-container .article-views {
	text-align: left;
	color: gray;
	margin-top: 2px !important;
}

.article-container .article-views i {
	font-size: 75%;
}

.folk-article-section {
	gap: 5px;
	justify-content: start !important;
}

.folk-article-subheadline {
	margin: 0 !important;
}


.headline-content div:has(> .activities-notice) {
	margin-right: 0.5rem;
}

.headline-content .activities-notice {
	margin-right: 15px;
	font-size: 65%;
	color: #eaeaea;
	border-bottom: 1px dotted #eaeaea;
	height: 70%;
	margin: 0 0.5rem;
}

.headline-content .activities-notice i {
	font-size: 75%;
}


body:not(.general-page) .article-container .article-subheadline, .article-container .folk-article-subheadline {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2; /* VSCode complains unless I also define this property, and I can't be bothered to get rid of the warning */
	-webkit-line-clamp: 2;
	padding-bottom: 1px; /* I guess hanging thingies (like in g and j) aren't displayed unless I do this */
	overflow: hidden;
}

body.general-page .article-image {
	max-width: 25% !important;
}

@media (min-width: 500px) {
	body.general-page .article-views {
		position: absolute;
		bottom: 0;
	}
}

/* Probably quite a bad way of doing it */
@media (max-width: 500px) {
	#filterList button:not(.active) span {
		font-size: 2.8vw !important;  /* w/ 5 categories: 2.4 */
	}

	#filters-text {
		font-size: 5vw !important;
	}

	.article-listing h5:not(.grey-box) {
		font-size: 4.25vw !important; 
	}

	.article-body p {
		font-size: 4vw !important;
	}

	.grey-box {
		font-size: 3.4vw !important;
	}

	#dynamic-filters > button {
		font-size: 3.5vw !important;
	}

	.headline-content > :first-child {
		font-size: 5vw !important;
	}
	
	.headline-content .activities-notice {
		font-size: 3vw !important;
	}
}


/* (O) HALLOWEEN */

.app {
	background-color: black;
	background-image: url("/custom/img/halloween-bgr.png");
}

.orange-color {
	background-color: #c77d3c;
}

#orange-headline {
	background-color: #e08c42;
}

#wrapper {
	box-shadow: 0 0 20px #CCCCCCCC;
}

/*.magazine-image {
	filter: invert(1);
}*/