.app * {
	max-height: unset;
}

.content {
	height: 100vh;
	max-height: unset;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content > div {
	overflow-x: hidden !important;
	border: 1px solid #cccccc;
	height: 711px;
	max-height: 100vh;
}


.top-box, .post-headline, .post-article {
	position: static;
}

.top-box h3 {
	margin: 0 10px;
	text-align: center;
}

.authorContainer {
	margin: 0 10px;
	padding-top: 10px;

	display: flex;
	gap: 10px;
	justify-content: start;
	align-items: center;
}

.authorContainer .date {
	color: #777777; 
	font-size: 0.8em;
}


.style-socials {
	margin: 20px 0;
}

.style-illustration img {
	height: unset;
	width: calc(100% - 20px);
	box-shadow: 0 0 3px #dddddd;
}

.style-illustration p {
	color: #555555;
}

.style-middle-heading p {
	color: #333333;
}