body {
	margin: 0;
}

#wrapper {
	min-height: unset;
	box-shadow: 0 0 6px #00000018;
}

.top-box, .post-headline, #article-footer {
	margin: 0;
}

.top-box {
	width: 100%;
	max-width: 500px;
	padding: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-box h3 {
	font-size: 75%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.authorContainer {
	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	gap: 10px;
	justify-content: start;
	align-items: center;
}

.authorContainer .date {
	color: #777777; 
	font-size: 0.8em;
}


.magazine-article-container {
	display: flex;
	flex-direction: column;
}

.magazine-article-container > :not(.top-box) {
	position: static;
	margin: 0;
}

.magazine-article-container .post-headline {
	margin-top: 60px;
}

.magazine-article-container .post-article {
	margin-top: 10px;
}


.post-headline img {
	margin-left: 0;
	margin-right: 5px;
}

.post-article {
	margin-top: 25px;
}

.style-illustration:first-child {
	margin-top: 0;
}

.style-illustration img {
	height: unset;
	width: calc(100% - 20px);
	box-shadow: 0 0 3px #dddddd;
}

.style-illustration p {
	color: #555555;
}

.style-middle-heading p {
	color: #111111;
	margin-top: 1.5em;
}


.link-button {
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

:not(#linkBtn):has(> .link-button) {
	display: block;
	margin-bottom: 1rem;
}

.link-button:hover {
	background-color: #8d9e8a;
}

.link-button:active {
	background-color: #9aa998;
}


.phone-button:hover {
	background-color: #47855d !important;
	cursor: pointer;
}

.phone-button:active {
	background-color: #509568 !important;
}

#contactModal {
	overflow: hidden;
	max-width: unset;
	width: 100vw;
	height: 100vh;
}

.modal-dialog {
	top: 85px !important;
	left: 15px !important;
	margin: 0 !important;
	border-radius: 15px;
}

.modal.fade .modal-dialog {
	transform: translate(0, -50px) !important;
}

.modal.show .modal-dialog {
	transform: none !important;
}

.modal-dialog::before {
	content: unset !important;
}

.modal-content {
	margin: 0 !important;
}

#contactMessage {
	resize: none;
}

#contactModal .link-button, #submitBtn {
	background-color: #67a86e !important;
	margin-bottom: 0;
	border: unset;
}

#contactModal .link-button:hover, #submitBtn:hover {
	background-color: #77b17e !important;
}

#contactModal .link-button:active, #submitBtn:active {
	background-color: #87ba8d !important;
}


@media (max-width: 650px) {
	.navigation, .check-btn {
		margin-top: 0px;
	}

	.check-btn {
		flex-direction: column;
	}

	.check-btn > .arrow-button, .openbtn {
		border-radius: 0;
		width: 60px;
		height: 60px;
	}

	.check-btn > .arrow-button i, .openbtn i {
		font-size: 50%;
	}
}