body {
	margin: 0;
}

.top-box, .post-headline, #article-footer {
	margin: 0;
}

.top-box {
	width: 100%;
	max-width: 500px;
	padding: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-box h3 {
	font-size: 75%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.authorContainer {
	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	gap: 10px;
	justify-content: start;
	align-items: center;
}

.authorContainer .date {
	color: #777777; 
	font-size: 0.8em;
}


.post-headline img {
	margin-left: 0;
	margin-right: 5px;
}

.post-article {
	margin-top: 25px;
}

.style-illustration img {
	height: unset;
	width: calc(100% - 20px);
	box-shadow: 0 0 3px #dddddd;
}

.style-illustration p {
	color: #555555;
}

.style-middle-heading p {
	color: #222222;
}

@media (max-width: 650px) {
	.navigation, .check-btn {
		margin-top: 0px;
	}

	.arrow-button, .openbtn {
		border-radius: 0;
		width: 60px;
		height: 60px;
		/*line-height: 60px;*/
	}

	.arrow-button i, .openbtn i {
		font-size: 50%;
	}
}