.top-box h3 {
	text-align: center;
	margin-left: 0;
}


#filterList {
	padding: 0;
	padding-top: 20px;
}

#filterList button {
	flex-grow: 1;
	aspect-ratio: 1.8;
	margin-bottom: 0;

	font-size: 1.2rem !important;
	border: none;
	border-radius: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	overflow-x: hidden;
}

#filterList button:not(.active):hover {
	filter: brightness(90%);
}

#filterList button:not(.active):active {
	filter: brightness(85%);
}

#filterList button:not(.active) i {
	opacity: 0.9;
}

#filterList button:not(.active) span {
	opacity: 0.9;
	font-size: 60%;
}

#filterList button.active {
	cursor: default;
}


#filters-text {
	font-weight: lighter;
	font-size: 90%;
}

#dynamic-filters button:not(.active):hover {
	background-color: #dddddd;
}

#dynamic-filters button:not(.active):active {
	background-color: #cccccc;
}

#dynamic-filters button.active:hover {
	background-color: #444444;
}

#dynamic-filters button.active:active {
	background-color: #777777;
}


#no-articles {
	display: block;
	font-weight: normal;
	text-align: center;
	margin: 20px 0;
	font-size: 80%;
}

.article-listing:hover h5:not(.grey-box) {
	text-decoration: underline;
}

.article-image {
	border-radius: 10px;
}


@media (max-width: 500px) {
	#filterList button:not(.active) span {
		font-size: 2.4vw;
	}
}