.top-box h3 {
	text-align: center;
	margin-left: 0;
}


#filterList {
	padding: 0;
	padding-top: 20px;
}

#filterList button {
	flex-grow: 1;
	aspect-ratio: 1.9; /* 1.6 */
	margin-bottom: 0;

	border: none;
	border-radius: 0;
}

#filterList button > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	overflow: hidden;

	font-size: 1.2rem !important;
	color: #000000;
	height: 100%;
	background: none;
	user-select: none;
}

#filterList button.active > a {
	color: #ffffff;
}

#filterList button:not(.active):hover {
	filter: brightness(90%);
}

#filterList button:not(.active):active {
	filter: brightness(85%);
}

#filterList button:not(.active) i {
	opacity: 0.9;
}

#filterList button:not(.active) span {
	font-family: "Aboreto", cursive;
	font-weight: 600;
	opacity: 0.9;
	font-size: 65%; /* 60% */
}

#filterList button.active {
	cursor: default;
}


.categories-divider {
	width: 2px;
	background-color: #000000;
	opacity: 0.1;
}

.categories-divider.active {
	opacity: 1;
}


#filters-text {
	font-weight: lighter;
	font-size: 90%;
}

#dynamic-filters button:not(.active):hover {
	background-color: #dddddd;
}

#dynamic-filters button:not(.active):active {
	background-color: #cccccc;
}

#dynamic-filters button.active:hover {
	background-color: #444444;
}

#dynamic-filters button.active:active {
	background-color: #777777;
}


#no-articles {
	display: block;
	font-weight: normal;
	text-align: center;
	margin: 20px 0;
	font-size: 80%;
}

.article-listing.hidden {
	display: none;
}

/* Funky syntax - I hope it works on all devices */
:nth-child(odd of #dynamic-filters, .article-listing:not(.hidden)) {
	background-color: #ffffff;
}

:nth-child(even of #dynamic-filters, .article-listing:not(.hidden)) {
	background-color: #f2f2f2;
}

.article-listing:hover h5:not(.grey-box) {
	text-decoration: underline;
}

.article-image {
	border-radius: 10px;
}


.article-listing, .article-body {
	padding: 0 !important;
}

.article-anchor {
	padding: 10pt;
}

.article-container {
	gap: 10px;
}

.article-container > div:first-child {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.article-container > div:first-child > * {
	position: static;
	margin: 0;
}

.article-tags, .folk-article-tags {
	margin-top: 10px !important;
}

.article-container img {
	margin: 0;
}


.activities-headline {
	display: flex;
	justify-content: space-between;
}

.headline-content .activities-notice {
	margin-right: 15px;
	font-size: 65%;
	color: #eaeaea;
	border-bottom: 1px dotted #eaeaea;
	height: 70%;
	position: relative;
}

.headline-content .activities-notice:hover {
	cursor: default;
}

.headline-content .activities-notice:hover::after {
	content: "Dobbeltjek altid datoer på Lectio eller på htg.dk!";
	position: absolute;
	bottom: 100%;
	margin-bottom: 8px;
	right: 0;
	width: max-content;
	max-width: 90vw;
	
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.15rem;
	text-align: right;
	padding: 5px;
	background-color: #000000aa;
}

.headline-content .activities-notice i {
	font-size: 75%;
}


@media (max-width: 500px) {
	#filterList button:not(.active) span {
		font-size: 2.8vw !important; /* 2.2vw */
	}

	#filters-text {
		font-size: 5vw !important;
	}

	.article-listing h5:not(.grey-box) {
		font-size: 4.25vw !important; 
	}

	.article-body p {
		font-size: 4vw !important;
	}

	.grey-box, #dynamic-filters > button {
		font-size: 3.4vw !important;
	}
	
	.headline-content .activities-notice {
		font-size: 55%;
	}
}