.notifyjs-container { 
	font-size: 24px; 
	padding: 10px;
}

.navigation {
	margin: 15px;
	padding: 0;
	display: unset;
	height: unset;
}

.openbtn {
	background-color: #000000 !important;
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	border: none !important;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.openbtn i {
	font-size: 70%;
}

.openbtn:hover {
	background-color: #333333 !important;
}

.openbtn:active {
	background-color: #555555 !important;
}

.sidepanel {
	transition: 0.3s;
}

.sidepanel .closebtn {
	font-size: 48px !important;
	padding: 0;
	top: 25px !important;
	line-height: 0.6rem;
	height: 1.2rem;
	overflow: hidden;
	transition: none;
}

.sidepanel .closebtn:hover {
	color: #cccccc;
}

.sidepanel .nav-item {
	margin: 0 !important;
	padding: 10px 0 !important;
	padding-right: 10px !important;

	user-select: none;
}

.sidepanel .nav-item:hover {
	cursor: pointer;
	background-color: #222222;
}

.sidepanel .nav-item:active {
	background-color: #333333;
}

.sidepanel .nav-item:last-child {
	border-bottom: none !important;
}

.sidepanel .nav-item i {
	width: 25px;
	margin-left: 10px;
	font-size: 70%;
	text-align: center;
}

.sidepanel .nav-item i.fa-right-to-bracket {
	width: 30px;
	margin-left: 5px;
	font-size: 80%;
}


.check-btn {
	margin: 15px;
	right: unset;
	bottom: unset;
	left: 0;
	top: 0;
}

.check-btn > a {
	width: 3.5rem;
	height: 3.5rem;
	transition: none;
}

.arrow-button {
	background-color: #000000 !important;
}

.arrow-button:hover {
	background-color: #333333 !important;
	cursor: pointer;
}

.arrow-button:active {
	background-color: #555555 !important;
}

.check-btn > a i {
	font-size: 70%;
	color: #ffffff !important;
}


button.green-submit-btn {
	padding: 0;
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.green-submit-btn:hover {
	background-color: #0e6371;
}

button.green-submit-btn:active {
	background-color: #117888;
}

button.green-submit-btn i {
	font-size: 70%;
}


#footer-logos {
	margin-top: 10px;
}

#footer-logos .footer-image:last-child {
	margin-top: 0;
	margin-bottom: 0;
}

#footer-sections > div {
	flex-shrink: 1;
}