.col-sm-12 {
	padding-left: 30px;
	padding-right: 30px;
}

.sign-in-block {
	padding: unset;
	width: unset;
}

input[type="submit"], input[type="submit"]:hover {
	color: #ffffff !important;
	border: none !important;
	border-radius: 0;
}

a[href="/member/register"] label:hover {
	cursor: pointer;
	background-color: #dddddd;
}