body {
	background-color: #f0ece4 !important;
}

#wrapper, .avatar-container, .form-container {
	background-color: #fff !important;
}

span, h1, p {
	color: #222;
}

.row {
	justify-content: center;
}

.profile-form {
	max-width: 500px;
	margin: 0;
}


.username {
	display: block;
	margin: 1rem 0;
	padding: 0;
	text-align: center;
	font-size: 18pt;
	text-decoration: underline;
}

#preview-avatar {
	margin-bottom: 2rem;
}

.avatar-input {
	position: static;
	width: unset;
	margin: 0;
}

#avatarImage {
	height: unset;
	padding: unset;
	color: transparent;
}

.file-input::before {
	margin-left: 0;
}


#save-button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;

	background-color: #0e6371;
	color: white;
	font-size: 1.15rem;
	font-family: 'Aboreto', cursive;
}

#save-button:hover {
	background-color: #0b505b;
}

#save-button:active {
	background-color: #0a444d;
}


.modal-content, .modal-content > div {
	background-color: white;
}

.modal-content h5 {
	color: #222;
}

.modal-content button {
	border: none !important;
}

.modal-content button:hover {
	filter: brightness(90%);
}